<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">LOGO</a> </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>

  </div>

</mat-toolbar>
